.body {
  position: relative;
  background-color: #eeeeee;
  background-image: url(../../img/customer_service.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 87vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transition: all .2s ease-out;
}

.contactUs {
  position: relative; 
  left: 5rem;
  top: -4rem;
  height: 60vh;
  width: 50%;
  border: solid 3px #191919;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.contactUs_header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contactUs_heading {
  font-size: xx-large;
}
.contactUs_up {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1200px) {
  .body{
    background-position: auto;
  }
}

@media only screen and (max-width: 1200px) {
  .body{
    background-position-x: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .body{
    background:none;
    background-color: #fefefe;
  }

  .contactUs {
    left: 0;
    top: 0;
    align-self: center;
  }
}